<a href="https://colab.research.google.com/github/gemmamay21/introduction-to-datascience/blob/master/Absenteeism_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from absenteeism_module import *

In [2]:
pd.read_csv('Absenteeism_new_data.csv')

    ID  Reason for Absence        Date  ...  Education  Children  Pets
0   22                  27  01/06/2018  ...          3         0     0
1   10                   7  04/06/2018  ...          1         1     4
2   14                  23  06/06/2018  ...          1         2     0
3   17                  25  08/06/2018  ...          2         2     0
4   14                  10  08/06/2018  ...          1         2     0
5   28                  11  11/06/2018  ...          1         1     2
6   16                   7  13/06/2018  ...          1         2     0
7   22                  27  13/06/2018  ...          3         0     0
8   34                  26  15/06/2018  ...          1         0     0
9   34                  10  20/06/2018  ...          1         0     0
10  23                  22  21/06/2018  ...          1         2     4
11  36                  19  21/06/2018  ...          1         1     0
12  12                  19  22/06/2018  ...          2         1     8
13  22                  27  22/06/2018  ...          3         0     0
14   2                   0  25/06/2018  ...          1         1     5
15  21                   0  28/06/2018  ...          2         0     0
16  36                  19  28/06/2018  ...          1         1     0
17  22                  13  28/06/2018  ...          3         0     0
18  15                  28  28/06/2018  ...          1         1     1
19  22                  13  02/07/2018  ...          3         0     0
20  34                  25  02/07/2018  ...          1         0     0
21  12                  22  05/07/2018  ...          2         1     8
22  34                   8  06/07/2018  ...          1         0     0
23  34                  10  11/07/2018  ...          1         0     0
24  12                  22  11/07/2018  ...          2         1     8
25   5                  26  11/07/2018  ...          1         1     0
26  12                  19  13/07/2018  ...          2         1     8
27   9                   6  16/07/2018  ...          1         2     1
28  34                  28  16/07/2018  ...          1         0     0
29   9                   6  17/07/2018  ...          1         2     1
30   6                  22  17/07/2018  ...          1         2     2
31  34                  23  18/07/2018  ...          1         0     0
32  10                  22  18/07/2018  ...          1         1     4
33  28                  22  18/07/2018  ...          1         1     2
34  13                  13  23/07/2018  ...          1         3     0
35  11                  14  24/07/2018  ...          1         2     1
36   1                  11  24/07/2018  ...          3         1     1
37   4                   0  24/07/2018  ...          1         1     8
38   8                   0  25/07/2018  ...          1         2     2
39  35                   0  27/07/2018  ...          1         1     1

[40 rows x 11 columns]

In [3]:
model = absenteeism_model('model', 'scaler')

/usr/local/lib/python3.6/dist-packages/sklearn/base.py:306: UserWarning: Trying to unpickle estimator LogisticRegression from version 0.19.1 when using version 0.21.3. This might lead to breaking code or invalid results. Use at your own risk.
  UserWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/base.py:306: UserWarning: Trying to unpickle estimator StandardScaler from version 0.19.1 when using version 0.21.3. This might lead to breaking code or invalid results. Use at your own risk.
  UserWarning)

In [0]:
model.load_and_clean_data('Absenteeism_new_data.csv')

In [5]:
model.predicted_outputs()

    Reason_1  Reason_2  Reason_3  ...  Pet  Probability  Prediction
0          0       0.0         0  ...    0     0.122799           0
1          1       0.0         0  ...    4     0.873392           1
2          0       0.0         0  ...    0     0.268305           0
3          0       0.0         0  ...    0     0.196385           0
4          1       0.0         0  ...    0     0.723502           1
5          1       0.0         0  ...    2     0.716891           1
6          1       0.0         0  ...    0     0.570524           1
7          0       0.0         0  ...    0     0.122799           0
8          0       0.0         0  ...    0     0.134118           0
9          1       0.0         0  ...    0     0.525007           1
10         0       0.0         0  ...    4     0.454998           0
11         0       0.0         1  ...    0     0.644742           1
12         0       0.0         1  ...    8     0.351108           0
13         0       0.0         0  ...    0     0.122799           0
14         0       0.0         0  ...    5     0.096533           0
15         0       0.0         0  ...    0     0.189479           0
16         0       0.0         1  ...    0     0.644742           1
17         1       0.0         0  ...    0     0.499738           0
18         0       0.0         0  ...    1     0.389531           0
19         1       0.0         0  ...    0     0.500161           1
20         0       0.0         0  ...    0     0.134315           0
21         0       0.0         0  ...    8     0.051367           0
22         1       0.0         0  ...    0     0.525428           1
23         1       0.0         0  ...    0     0.525428           1
24         0       0.0         0  ...    8     0.051367           0
25         0       0.0         0  ...    0     0.512352           1
26         0       0.0         1  ...    8     0.351493           0
27         1       0.0         0  ...    1     0.633385           1
28         0       0.0         0  ...    0     0.134315           0
29         1       0.0         0  ...    1     0.633385           1
30         0       0.0         0  ...    2     0.244943           0
31         0       0.0         0  ...    0     0.134315           0
32         0       0.0         0  ...    4     0.491962           0
33         0       0.0         0  ...    2     0.262240           0
34         1       0.0         0  ...    0     0.966560           1
35         1       0.0         0  ...    1     0.912399           1
36         1       0.0         0  ...    1     0.746598           1
37         0       0.0         0  ...    8     0.023090           0
38         0       0.0         0  ...    2     0.295647           0
39         0       0.0         0  ...    1     0.076450           0

[40 rows x 13 columns]

In [0]:
model.predicted_outputs().to_csv('Absenteeism_predictions.csv', index = False)