<a href="https://colab.research.google.com/github/gemmamay21/introduction-to-datascience/blob/master/Logistic_Reression_for_Absenteeism.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [0]:
data_preprocessed= pd.read_csv('Absenteeism_preprocessed.csv')

In [3]:
data_preprocessed.head()

   Reason_1  Reason_2  Reason_3  ...  Children  Pet  Absenteeism Time in Hours
0         0         0         0  ...         2    1                          4
1         0         0         0  ...         1    0                          0
2         0         0         0  ...         0    0                          2
3         1         0         0  ...         2    0                          4
4         0         0         0  ...         2    1                          2

[5 rows x 15 columns]

In [0]:
##Create the Targets

In [5]:
data_preprocessed['Absenteeism Time in Hours'].median()

3.0

In [0]:
targets = np.where(data_preprocessed['Absenteeism Time in Hours'] > 
                   data_preprocessed['Absenteeism Time in Hours'].median() , 1, 0)

In [7]:
targets

array([1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0])

In [0]:
data_preprocessed['Excessive Absenteeism'] = targets

In [9]:
data_preprocessed.head()

   Reason_1  Reason_2  ...  Absenteeism Time in Hours  Excessive Absenteeism
0         0         0  ...                          4                      1
1         0         0  ...                          0                      0
2         0         0  ...                          2                      0
3         1         0  ...                          4                      1
4         0         0  ...                          2                      0

[5 rows x 16 columns]

In [0]:
## Comment on the Targets

In [11]:
targets.sum() / targets.shape[0]

0.45571428571428574

In [0]:
data_with_targets = data_preprocessed.drop(['Absenteeism Time in Hours', 'Day of the Week', 
                                            'Daily Work Load Average', 'Distance to Work'], axis = 1)

In [13]:
data_with_targets is data_preprocessed

False

In [14]:
data_with_targets.head()

   Reason_1  Reason_2  Reason_3  ...  Children  Pet  Excessive Absenteeism
0         0         0         0  ...         2    1                      1
1         0         0         0  ...         1    0                      0
2         0         0         0  ...         0    0                      0
3         1         0         0  ...         2    0                      1
4         0         0         0  ...         2    1                      0

[5 rows x 12 columns]

In [15]:
data_with_targets.shape

(700, 12)

In [16]:
data_with_targets.iloc[:,0:14]

     Reason_1  Reason_2  Reason_3  ...  Children  Pet  Excessive Absenteeism
0           0         0         0  ...         2    1                      1
1           0         0         0  ...         1    0                      0
2           0         0         0  ...         0    0                      0
3           1         0         0  ...         2    0                      1
4           0         0         0  ...         2    1                      0
5           0         0         0  ...         0    0                      0
6           0         0         0  ...         1    4                      1
7           0         0         0  ...         4    0                      1
8           0         0         1  ...         2    0                      1
9           0         0         0  ...         1    1                      1
10          1         0         0  ...         4    0                      1
11          1         0         0  ...         4    0                      1
12          1         0         0  ...         4    0                      1
13          1         0         0  ...         0    0                      0
14          0         0         0  ...         0    0                      1
15          1         0         0  ...         0    0                      1
16          0         0         0  ...         0    0                      0
17          0         0         1  ...         0    0                      1
18          1         0         0  ...         2    2                      1
19          0         0         0  ...         2    1                      0
20          1         0         0  ...         0    0                      1
21          1         0         0  ...         0    0                      0
22          1         0         0  ...         1    4                      1
23          0         0         0  ...         4    0                      1
24          0         0         1  ...         2    1                      1
25          0         0         0  ...         1    4                      1
26          0         0         0  ...         2    1                      0
27          0         0         0  ...         0    0                      1
28          0         0         1  ...         2    1                      1
29          0         0         0  ...         0    0                      0
..        ...       ...       ...  ...       ...  ...                    ...
670         0         0         0  ...         2    0                      1
671         0         0         1  ...         1    2                      1
672         1         0         0  ...         1    0                      0
673         0         0         0  ...         0    0                      0
674         0         0         0  ...         1    1                      1
675         0         0         1  ...         2    2                      0
676         0         0         0  ...         0    0                      0
677         1         0         0  ...         0    0                      0
678         0         0         0  ...         1    0                      1
679         1         0         0  ...         0    0                      0
680         0         0         0  ...         1    1                      0
681         1         0         0  ...         2    2                      1
682         0         0         1  ...         2    1                      1
683         0         0         0  ...         2    2                      1
684         0         0         0  ...         0    0                      0
685         0         0         0  ...         1    0                      0
686         1         0         0  ...         1    0                      0
687         0         0         0  ...         0    0                      0
688         0         0         0  ...         1    0                      0
689         0         0         0  ...         0    0                      0
690         0         0         0  ...         2    4                      0
691         0         1         0  ...         2    0                      0
692         1         0         0  ...         2    0                      1
693         1         0         0  ...         0    0                      1
694         0         0         0  ...         1    1                      1
695         1         0         0  ...         2    0                      1
696         1         0         0  ...         1    2                      0
697         1         0         0  ...         0    0                      1
698         0         0         0  ...         0    0                      0
699         0         0         0  ...         1    1                      0

[700 rows x 12 columns]

In [17]:
data_with_targets.iloc[:,:-1]

     Reason_1  Reason_2  Reason_3  ...  Education  Children  Pet
0           0         0         0  ...          0         2    1
1           0         0         0  ...          0         1    0
2           0         0         0  ...          0         0    0
3           1         0         0  ...          0         2    0
4           0         0         0  ...          0         2    1
5           0         0         0  ...          0         0    0
6           0         0         0  ...          0         1    4
7           0         0         0  ...          0         4    0
8           0         0         1  ...          0         2    0
9           0         0         0  ...          1         1    1
10          1         0         0  ...          0         4    0
11          1         0         0  ...          0         4    0
12          1         0         0  ...          0         4    0
13          1         0         0  ...          0         0    0
14          0         0         0  ...          0         0    0
15          1         0         0  ...          0         0    0
16          0         0         0  ...          0         0    0
17          0         0         1  ...          0         0    0
18          1         0         0  ...          0         2    2
19          0         0         0  ...          0         2    1
20          1         0         0  ...          1         0    0
21          1         0         0  ...          0         0    0
22          1         0         0  ...          0         1    4
23          0         0         0  ...          0         4    0
24          0         0         1  ...          0         2    1
25          0         0         0  ...          0         1    4
26          0         0         0  ...          0         2    1
27          0         0         0  ...          0         0    0
28          0         0         1  ...          0         2    1
29          0         0         0  ...          0         0    0
..        ...       ...       ...  ...        ...       ...  ...
670         0         0         0  ...          0         2    0
671         0         0         1  ...          0         1    2
672         1         0         0  ...          0         1    0
673         0         0         0  ...          1         0    0
674         0         0         0  ...          1         1    1
675         0         0         1  ...          1         2    2
676         0         0         0  ...          1         0    0
677         1         0         0  ...          0         0    0
678         0         0         0  ...          0         1    0
679         1         0         0  ...          1         0    0
680         0         0         0  ...          0         1    1
681         1         0         0  ...          1         2    2
682         0         0         1  ...          0         2    1
683         0         0         0  ...          1         2    2
684         0         0         0  ...          1         0    0
685         0         0         0  ...          0         1    0
686         1         0         0  ...          0         1    0
687         0         0         0  ...          0         0    0
688         0         0         0  ...          0         1    0
689         0         0         0  ...          1         0    0
690         0         0         0  ...          0         2    4
691         0         1         0  ...          1         2    0
692         1         0         0  ...          0         2    0
693         1         0         0  ...          1         0    0
694         0         0         0  ...          0         1    1
695         1         0         0  ...          1         2    0
696         1         0         0  ...          0         1    2
697         1         0         0  ...          1         0    0
698         0         0         0  ...          1         0    0
699         0         0         0  ...          0         1    1

[700 rows x 11 columns]

In [0]:
unscaled_inputs = data_with_targets.iloc[:,:-1]

In [0]:
## Standardise the Data

In [0]:
#from sklearn.preprocessing import StandardScaler

#absenteeism_scaler = StandardScaler()

In [0]:
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.preprocessing import StandardScaler

class CustomScaler(BaseEstimator, TransformerMixin):
  
  def __init__ (self, columns,copy=True, with_mean=True, with_std=True):
      self.scaler=StandardScaler(copy,with_mean,with_std)
      self.columns= columns
      self.mean_ = None
      self.var_= None 
    
  def fit(self, X, y=None):
      self.scaler.fit(X[self.columns], y)
      self.mean_=np.mean(X[self.columns])
      self.var_=np.var(X[self.columns])
      return self

  def transform (self, X, y=None, copy=None):
      init_col_order = X.columns
      X_scaled = pd.DataFrame(self.scaler.transform(X[self.columns]), columns=self.columns)
      X_not_scaled = X.loc[:, ~X.columns.isin(self.columns)]
      return pd.concat([X_not_scaled, X_scaled], axis=1)[init_col_order]

In [22]:
unscaled_inputs.columns.values

array(['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Month Value',
       'Transportation Expense', 'Age', 'Body Mass Index', 'Education',
       'Children', 'Pet'], dtype=object)

In [0]:
#columns_to_scale = ['Month Value','Day of the Week', 'Transportation Expense', 'Distance to Work',
       #'Age', 'Daily Work Load Average', 'Body Mass Index', 'Education','Children', 'Pet']
  
  columns_to_omit = ['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Education']

In [0]:
columns_to_scale = [x for x in unscaled_inputs.columns.values if x not in columns_to_omit]

In [0]:
absenteeism_scaler = CustomScaler(columns_to_scale)

In [26]:
absenteeism_scaler.fit(unscaled_inputs)

CustomScaler(columns=['Month Value', 'Transportation Expense', 'Age',
                      'Body Mass Index', 'Children', 'Pet'],
             copy=None, with_mean=None, with_std=None)

In [0]:
scaled_inputs = absenteeism_scaler.transform(unscaled_inputs)

In [28]:
scaled_inputs

     Reason_1  Reason_2  Reason_3  ...  Education  Children       Pet
0           0         0         0  ...          0  0.880469  0.268487
1           0         0         0  ...          0 -0.019280 -0.589690
2           0         0         0  ...          0 -0.919030 -0.589690
3           1         0         0  ...          0  0.880469 -0.589690
4           0         0         0  ...          0  0.880469  0.268487
5           0         0         0  ...          0 -0.919030 -0.589690
6           0         0         0  ...          0 -0.019280  2.843016
7           0         0         0  ...          0  2.679969 -0.589690
8           0         0         1  ...          0  0.880469 -0.589690
9           0         0         0  ...          1 -0.019280  0.268487
10          1         0         0  ...          0  2.679969 -0.589690
11          1         0         0  ...          0  2.679969 -0.589690
12          1         0         0  ...          0  2.679969 -0.589690
13          1         0         0  ...          0 -0.919030 -0.589690
14          0         0         0  ...          0 -0.919030 -0.589690
15          1         0         0  ...          0 -0.919030 -0.589690
16          0         0         0  ...          0 -0.919030 -0.589690
17          0         0         1  ...          0 -0.919030 -0.589690
18          1         0         0  ...          0  0.880469  1.126663
19          0         0         0  ...          0  0.880469  0.268487
20          1         0         0  ...          1 -0.919030 -0.589690
21          1         0         0  ...          0 -0.919030 -0.589690
22          1         0         0  ...          0 -0.019280  2.843016
23          0         0         0  ...          0  2.679969 -0.589690
24          0         0         1  ...          0  0.880469  0.268487
25          0         0         0  ...          0 -0.019280  2.843016
26          0         0         0  ...          0  0.880469  0.268487
27          0         0         0  ...          0 -0.919030 -0.589690
28          0         0         1  ...          0  0.880469  0.268487
29          0         0         0  ...          0 -0.919030 -0.589690
..        ...       ...       ...  ...        ...       ...       ...
670         0         0         0  ...          0  0.880469 -0.589690
671         0         0         1  ...          0 -0.019280  1.126663
672         1         0         0  ...          0 -0.019280 -0.589690
673         0         0         0  ...          1 -0.919030 -0.589690
674         0         0         0  ...          1 -0.019280  0.268487
675         0         0         1  ...          1  0.880469  1.126663
676         0         0         0  ...          1 -0.919030 -0.589690
677         1         0         0  ...          0 -0.919030 -0.589690
678         0         0         0  ...          0 -0.019280 -0.589690
679         1         0         0  ...          1 -0.919030 -0.589690
680         0         0         0  ...          0 -0.019280  0.268487
681         1         0         0  ...          1  0.880469  1.126663
682         0         0         1  ...          0  0.880469  0.268487
683         0         0         0  ...          1  0.880469  1.126663
684         0         0         0  ...          1 -0.919030 -0.589690
685         0         0         0  ...          0 -0.019280 -0.589690
686         1         0         0  ...          0 -0.019280 -0.589690
687         0         0         0  ...          0 -0.919030 -0.589690
688         0         0         0  ...          0 -0.019280 -0.589690
689         0         0         0  ...          1 -0.919030 -0.589690
690         0         0         0  ...          0  0.880469  2.843016
691         0         1         0  ...          1  0.880469 -0.589690
692         1         0         0  ...          0  0.880469 -0.589690
693         1         0         0  ...          1 -0.919030 -0.589690
694         0         0         0  ...          0 -0.019280  0.268487
695         1         0         0  ...          1  0.880469 -0.589690
696         1         0         0  ...          0 -0.019280  1.126663
697         1         0         0  ...          1 -0.919030 -0.589690
698         0         0         0  ...          1 -0.919030 -0.589690
699         0         0         0  ...          0 -0.019280  0.268487

[700 rows x 11 columns]

In [29]:
scaled_inputs.shape

(700, 11)

In [0]:
from sklearn.model_selection import train_test_split

In [31]:
train_test_split(scaled_inputs, targets)

[     Reason_1  Reason_2  Reason_3  ...  Education  Children       Pet
 309         0         0         0  ...          0 -0.019280 -0.589690
 441         0         0         0  ...          0 -0.919030 -0.589690
 218         1         0         0  ...          0 -0.019280 -0.589690
 395         0         0         0  ...          1 -0.019280  0.268487
 67          0         0         0  ...          0 -0.019280  1.126663
 342         0         0         0  ...          1 -0.019280  0.268487
 631         0         0         0  ...          0 -0.919030 -0.589690
 288         1         0         0  ...          0 -0.919030 -0.589690
 17          0         0         1  ...          0 -0.919030 -0.589690
 566         0         0         0  ...          0 -0.019280  1.126663
 581         0         0         0  ...          0 -0.919030 -0.589690
 95          0         0         0  ...          0 -0.019280  1.126663
 386         0         0         0  ...          0 -0.919030 -0.589690
 368         0         0         0  ...          0 -0.919030 -0.589690
 406         0         0         0  ...          0 -0.919030 -0.589690
 333         0         0         0  ...          0 -0.919030 -0.589690
 178         1         0         0  ...          0 -0.019280  1.126663
 150         0         0         0  ...          0 -0.019280  1.126663
 110         0         0         0  ...          0 -0.919030 -0.589690
 208         0         0         1  ...          0 -0.019280  1.126663
 62          0         0         0  ...          0 -0.919030 -0.589690
 549         0         0         0  ...          0  0.880469  0.268487
 71          0         0         0  ...          0 -0.019280  0.268487
 354         0         0         0  ...          0  2.679969 -0.589690
 407         0         0         0  ...          0 -0.019280 -0.589690
 682         0         0         1  ...          0  0.880469  0.268487
 351         0         0         0  ...          0 -0.919030 -0.589690
 118         0         0         0  ...          0 -0.919030 -0.589690
 419         0         0         0  ...          0 -0.019280 -0.589690
 585         1         0         0  ...          0 -0.919030 -0.589690
 ..        ...       ...       ...  ...        ...       ...       ...
 211         1         0         0  ...          0 -0.919030 -0.589690
 578         0         0         0  ...          1 -0.919030 -0.589690
 148         0         0         0  ...          1 -0.919030 -0.589690
 651         1         0         0  ...          1 -0.919030 -0.589690
 569         0         0         1  ...          0  0.880469 -0.589690
 163         1         0         0  ...          0  2.679969 -0.589690
 273         0         0         0  ...          0 -0.019280 -0.589690
 9           0         0         0  ...          1 -0.019280  0.268487
 404         1         0         0  ...          0 -0.019280 -0.589690
 60          0         0         0  ...          0 -0.919030 -0.589690
 662         0         0         0  ...          0 -0.019280 -0.589690
 142         0         0         0  ...          0  2.679969 -0.589690
 670         0         0         0  ...          0  0.880469 -0.589690
 403         1         0         0  ...          0 -0.019280 -0.589690
 94          0         0         0  ...          0  0.880469  0.268487
 84          0         0         0  ...          0 -0.019280  0.268487
 553         0         0         0  ...          0  1.780219 -0.589690
 316         0         0         0  ...          0 -0.019280 -0.589690
 79          0         0         0  ...          0  2.679969 -0.589690
 685         0         0         0  ...          0 -0.019280 -0.589690
 523         1         0         0  ...          0  1.780219 -0.589690
 531         1         0         0  ...          0 -0.019280  1.126663
 81          0         0         0  ...          0 -0.019280  1.126663
 459         1         0         0  ...          1 -0.019280  0.268487
 526         1         0         0  ...          0 -0.019280  1.126663
 492         0         0         0  ...          0 -0.919030 -0.589690
 152         0         0         0  ...          1 -0.919030 -0.589690
 30          0         0         1  ...          0 -0.919030 -0.589690
 516         0         0         0  ...          0  1.780219 -0.589690
 592         0         0         0  ...          1  0.880469  1.126663

 [525 rows x 11 columns],
      Reason_1  Reason_2  Reason_3  ...  Education  Children       Pet
 512         0         0         0  ...          0 -0.919030 -0.589690
 44          0         0         0  ...          0  0.880469 -0.589690
 194         1         0         0  ...          0 -0.919030 -0.589690
 401         0         0         1  ...          1 -0.019280  0.268487
 69          0         0         0  ...          0 -0.019280  1.126663
 38          0         0         0  ...          0 -0.019280  3.701192
 36          0         0         0  ...          0  0.880469  0.268487
 389         0         0         0  ...          0 -0.919030 -0.589690
 352         1         0         0  ...          0 -0.019280 -0.589690
 506         0         0         0  ...          0 -0.019280  2.843016
 630         1         0         0  ...          0 -0.919030 -0.589690
 511         0         0         0  ...          0 -0.019280  0.268487
 18          1         0         0  ...          0  0.880469  1.126663
 1           0         0         0  ...          0 -0.019280 -0.589690
 373         0         0         0  ...          0  2.679969 -0.589690
 583         0         0         0  ...          0 -0.919030 -0.589690
 375         0         0         0  ...          0 -0.919030 -0.589690
 320         0         0         0  ...          0  2.679969 -0.589690
 671         0         0         1  ...          0 -0.019280  1.126663
 250         0         0         1  ...          0  0.880469  0.268487
 298         0         0         0  ...          0 -0.919030 -0.589690
 688         0         0         0  ...          0 -0.019280 -0.589690
 658         1         0         0  ...          0  0.880469  1.126663
 46          0         0         0  ...          0 -0.919030 -0.589690
 204         1         0         0  ...          0  0.880469  0.268487
 264         0         0         0  ...          0  0.880469  0.268487
 332         1         0         0  ...          0 -0.919030 -0.589690
 504         0         0         0  ...          1 -0.919030 -0.589690
 272         0         0         1  ...          0  0.880469  0.268487
 641         0         0         0  ...          0 -0.919030 -0.589690
 ..        ...       ...       ...  ...        ...       ...       ...
 323         1         0         0  ...          0  0.880469 -0.589690
 488         0         0         0  ...          1  0.880469 -0.589690
 422         0         0         0  ...          0  2.679969 -0.589690
 237         1         0         0  ...          0 -0.019280 -0.589690
 111         0         0         1  ...          0 -0.919030 -0.589690
 677         1         0         0  ...          0 -0.919030 -0.589690
 609         0         0         0  ...          1 -0.919030 -0.589690
 184         0         0         0  ...          0 -0.019280  0.268487
 376         0         0         0  ...          0 -0.919030 -0.589690
 664         1         0         0  ...          0 -0.919030 -0.589690
 353         1         0         0  ...          1 -0.019280  0.268487
 533         0         0         0  ...          0 -0.919030 -0.589690
 629         0         0         1  ...          0 -0.019280  2.843016
 98          0         0         0  ...          0  0.880469  0.268487
 107         0         0         0  ...          0  2.679969 -0.589690
 388         0         0         0  ...          0 -0.919030 -0.589690
 546         1         0         0  ...          0 -0.919030 -0.589690
 632         0         0         0  ...          0 -0.919030 -0.589690
 620         0         0         0  ...          0  0.880469  0.268487
 657         0         0         1  ...          0  0.880469  0.268487
 233         1         0         0  ...          0 -0.919030 -0.589690
 335         0         1         0  ...          0  2.679969 -0.589690
 442         0         0         0  ...          0 -0.919030 -0.589690
 135         0         0         0  ...          0 -0.019280  1.126663
 205         0         0         0  ...          0  0.880469 -0.589690
 485         0         0         0  ...          0 -0.019280 -0.589690
 305         0         0         0  ...          0 -0.019280 -0.589690
 170         0         0         0  ...          0  2.679969 -0.589690
 359         0         0         1  ...          0 -0.919030 -0.589690
 254         0         0         0  ...          0  0.880469  0.268487

 [175 rows x 11 columns],
 array([0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0,
        1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0,
        0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1,
        1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1,
        0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1,
        1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1,
        0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1,
        0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1,
        1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1,
        0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1,
        0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1,
        0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1,
        0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0,
        0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0,
        0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0,
        1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0,
        1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1,
        0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1,
        0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0,
        0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0,
        0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1,
        1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0,
        0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0]),
 array([0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0,
        1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
        0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1,
        1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0,
        1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1,
        1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1,
        1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0,
        0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0])]

In [0]:
x_train, x_test, y_train, y_test = train_test_split(scaled_inputs, targets, train_size = 0.8, random_state = 20)

In [33]:
print(x_train.shape, y_train.shape)

(560, 11) (560,)

In [34]:
print (x_test.shape, y_test.shape)

(140, 11) (140,)

In [0]:
##Logistic Regression with Sklean

In [0]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [0]:
##Training the Model

In [0]:
reg = LogisticRegression()

In [39]:
reg.fit(x_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [40]:
reg.score(x_train, y_train)

0.775

In [0]:
##Manually Check the Accuracy

In [42]:
model_outputs = reg.predict(x_train)
model_outputs

array([0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1,
       0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0,
       1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1,
       1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0,
       1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0,
       0, 1, 0, 1, 1, 1, 0, 0, 0, 0])

In [43]:
y_train

array([0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1,
       1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1,
       1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1,
       0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 0])

In [44]:
model_outputs == y_train

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False,  True, False, False,  True,  True,  True,  True,
       False,  True, False,  True, False, False,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
       False, False, False, False,  True,  True,  True,  True, False,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True,  True, False,  True,  True,  True,  True,  True,
       False,  True, False,  True,  True, False, False, False,  True,
        True,  True,  True,  True,  True,  True,  True, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True, False,  True,  True,  True,  True,
       False,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True, False,
        True, False,  True, False,  True,  True,  True,  True, False,
       False, False,  True,  True, False,  True,  True,  True,  True,
        True, False,  True, False,  True, False,  True, False, False,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False,  True, False,
       False,  True,  True,  True,  True,  True,  True,  True, False,
        True, False,  True, False,  True,  True,  True,  True, False,
        True, False, False,  True,  True,  True,  True,  True, False,
       False, False,  True, False,  True,  True,  True, False,  True,
        True,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True,  True,  True,  True,  True, False,  True,  True,
        True, False, False,  True,  True,  True,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True, False, False,
       False,  True,  True,  True,  True, False,  True, False,  True,
       False,  True,  True,  True,  True,  True, False,  True, False,
       False,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True,  True, False,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True, False,
       False,  True,  True,  True,  True,  True,  True,  True, False,
        True,  True,  True, False, False,  True,  True,  True, False,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True, False,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True, False,  True,  True,  True, False,  True,
        True, False,  True, False,  True,  True,  True, False,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True, False,  True, False,  True,  True, False,
        True,  True,  True, False,  True,  True, False,  True, False,
        True,  True,  True,  True,  True, False, False,  True,  True,
        True,  True,  True,  True,  True,  True,  True, False,  True,
       False,  True,  True,  True, False, False,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False,  True,  True, False, False,  True,  True,
       False,  True,  True,  True,  True,  True,  True, False, False,
        True,  True, False,  True,  True,  True,  True, False,  True,
        True,  True,  True,  True, False,  True,  True,  True,  True,
        True, False,  True,  True, False,  True,  True,  True,  True,
       False,  True,  True,  True,  True,  True, False,  True,  True,
       False, False, False,  True,  True, False,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False,  True,  True,  True,  True, False,  True,
       False,  True])

In [45]:
np.sum((model_outputs==y_train))

434

In [46]:
model_outputs.shape[0]

560

In [47]:
np.sum((model_outputs == y_train)) / model_outputs.shape[0]

0.775

In [48]:
reg.intercept_

array([-1.43138127])

In [49]:
reg.coef_

array([[ 2.60237227,  0.84350002,  2.94078723,  0.63723433,  0.00565051,
         0.61953401, -0.17635497,  0.28410321, -0.26372527,  0.35195032,
        -0.27369766]])

In [50]:
unscaled_inputs.columns.values

array(['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Month Value',
       'Transportation Expense', 'Age', 'Body Mass Index', 'Education',
       'Children', 'Pet'], dtype=object)

In [0]:
feature_name = unscaled_inputs.columns.values

In [52]:
summary_table = pd.DataFrame (columns=['Feature Name'], data = feature_name)
summary_table ['Coefficient'] = np.transpose (reg.coef_)
summary_table

              Feature Name  Coefficient
0                 Reason_1     2.602372
1                 Reason_2     0.843500
2                 Reason_3     2.940787
3                 Reason_4     0.637234
4              Month Value     0.005651
5   Transportation Expense     0.619534
6                      Age    -0.176355
7          Body Mass Index     0.284103
8                Education    -0.263725
9                 Children     0.351950
10                     Pet    -0.273698

In [53]:
summary_table.index = summary_table.index + 1
summary_table.loc[0] = ['Intercept', reg.intercept_[0]]
summary_table

              Feature Name  Coefficient
1                 Reason_1     2.602372
2                 Reason_2     0.843500
3                 Reason_3     2.940787
4                 Reason_4     0.637234
5              Month Value     0.005651
6   Transportation Expense     0.619534
7                      Age    -0.176355
8          Body Mass Index     0.284103
9                Education    -0.263725
10                Children     0.351950
11                     Pet    -0.273698
0                Intercept    -1.431381

In [0]:
##Interpretting the Coefficients

In [0]:
summary_table['Odds_ratio'] = np.exp(summary_table.Coefficient)

In [56]:
summary_table

              Feature Name  Coefficient  Odds_ratio
1                 Reason_1     2.602372   13.495716
2                 Reason_2     0.843500    2.324489
3                 Reason_3     2.940787   18.930743
4                 Reason_4     0.637234    1.891243
5              Month Value     0.005651    1.005667
6   Transportation Expense     0.619534    1.858062
7                      Age    -0.176355    0.838320
8          Body Mass Index     0.284103    1.328570
9                Education    -0.263725    0.768185
10                Children     0.351950    1.421838
11                     Pet    -0.273698    0.760562
0                Intercept    -1.431381    0.238979

In [57]:
summary_table.sort_values('Odds_ratio', ascending=False)

              Feature Name  Coefficient  Odds_ratio
3                 Reason_3     2.940787   18.930743
1                 Reason_1     2.602372   13.495716
2                 Reason_2     0.843500    2.324489
4                 Reason_4     0.637234    1.891243
6   Transportation Expense     0.619534    1.858062
10                Children     0.351950    1.421838
8          Body Mass Index     0.284103    1.328570
5              Month Value     0.005651    1.005667
7                      Age    -0.176355    0.838320
9                Education    -0.263725    0.768185
11                     Pet    -0.273698    0.760562
0                Intercept    -1.431381    0.238979

In [58]:
reg.score(x_test, y_test)

0.7357142857142858

In [59]:
predicted_proba = reg.predict_proba(x_test)
predicted_proba

array([[0.75308922, 0.24691078],
       [0.60926091, 0.39073909],
       [0.4859575 , 0.5140425 ],
       [0.7552847 , 0.2447153 ],
       [0.0839675 , 0.9160325 ],
       [0.30192695, 0.69807305],
       [0.30166774, 0.69833226],
       [0.1151045 , 0.8848955 ],
       [0.73775967, 0.26224033],
       [0.75403176, 0.24596824],
       [0.50719215, 0.49280785],
       [0.19719276, 0.80280724],
       [0.06163196, 0.93836804],
       [0.70917025, 0.29082975],
       [0.29280547, 0.70719453],
       [0.5241047 , 0.4758953 ],
       [0.50676929, 0.49323071],
       [0.50888352, 0.49111648],
       [0.367008  , 0.632992  ],
       [0.06355661, 0.93644339],
       [0.73644831, 0.26355169],
       [0.7552847 , 0.2447153 ],
       [0.47457156, 0.52542844],
       [0.47288443, 0.52711557],
       [0.22026535, 0.77973465],
       [0.73808685, 0.26191315],
       [0.51184512, 0.48815488],
       [0.87683579, 0.12316421],
       [0.23445563, 0.76554437],
       [0.7552847 , 0.2447153 ],
       [0.61087074, 0.38912926],
       [0.28414073, 0.71585927],
       [0.29943679, 0.70056321],
       [0.50634641, 0.49365359],
       [0.7552847 , 0.2447153 ],
       [0.40453482, 0.59546518],
       [0.73743223, 0.26256777],
       [0.21439711, 0.78560289],
       [0.56310493, 0.43689507],
       [0.39544424, 0.60455576],
       [0.75559726, 0.24440274],
       [0.50110763, 0.49889237],
       [0.73874043, 0.26125957],
       [0.55298784, 0.44701216],
       [0.19310398, 0.80689602],
       [0.39168937, 0.60831063],
       [0.27751475, 0.72248525],
       [0.75465877, 0.24534123],
       [0.75144366, 0.24855634],
       [0.75590955, 0.24409045],
       [0.49772404, 0.50227596],
       [0.67413797, 0.32586203],
       [0.30192695, 0.69807305],
       [0.75302024, 0.24697976],
       [0.17932441, 0.82067559],
       [0.60845511, 0.39154489],
       [0.09280493, 0.90719507],
       [0.73302148, 0.26697852],
       [0.64208684, 0.35791316],
       [0.64169795, 0.35830205],
       [0.29600002, 0.70399998],
       [0.3008583 , 0.6991417 ],
       [0.73202705, 0.26797295],
       [0.21881596, 0.78118404],
       [0.75380354, 0.24619646],
       [0.75340367, 0.24659633],
       [0.90974125, 0.09025875],
       [0.73710452, 0.26289548],
       [0.2325724 , 0.7674276 ],
       [0.70777255, 0.29222745],
       [0.73939295, 0.26060705],
       [0.64716344, 0.35283656],
       [0.11680764, 0.88319236],
       [0.56393718, 0.43606282],
       [0.406166  , 0.593834  ],
       [0.7552847 , 0.2447153 ],
       [0.23415211, 0.76584789],
       [0.25308247, 0.74691753],
       [0.29723426, 0.70276574],
       [0.36543731, 0.63456269],
       [0.73841377, 0.26158623],
       [0.9123835 , 0.0876165 ],
       [0.73003114, 0.26996886],
       [0.28139582, 0.71860418],
       [0.53366197, 0.46633803],
       [0.87738286, 0.12261714],
       [0.30050256, 0.69949744],
       [0.47288443, 0.52711557],
       [0.7464465 , 0.2535535 ],
       [0.28414073, 0.71585927],
       [0.80468048, 0.19531952],
       [0.86529144, 0.13470856],
       [0.75245951, 0.24754049],
       [0.7527745 , 0.2472255 ],
       [0.75403176, 0.24596824],
       [0.12887064, 0.87112936],
       [0.75245951, 0.24754049],
       [0.27480928, 0.72519072],
       [0.75270546, 0.24729454],
       [0.80308014, 0.19691986],
       [0.40535014, 0.59464986],
       [0.28414073, 0.71585927],
       [0.29900425, 0.70099575],
       [0.29424034, 0.70575966],
       [0.5635211 , 0.4364789 ],
       [0.56643175, 0.43356825],
       [0.75308922, 0.24691078],
       [0.12887064, 0.87112936],
       [0.23944262, 0.76055738],
       [0.86548852, 0.13451148],
       [0.91265361, 0.08734639],
       [0.08800759, 0.91199241],
       [0.34705733, 0.65294267],
       [0.61207652, 0.38792348],
       [0.40575801, 0.59424199],
       [0.3970632 , 0.6029368 ],
       [0.21411229, 0.78588771],
       [0.15452766, 0.84547234],
       [0.43678858, 0.56321142],
       [0.73677655, 0.26322345],
       [0.75371785, 0.24628215],
       [0.8761031 , 0.1238969 ],
       [0.19746072, 0.80253928],
       [0.50237647, 0.49762353],
       [0.75403176, 0.24596824],
       [0.70847189, 0.29152811],
       [0.75559726, 0.24440274],
       [0.86489655, 0.13510345],
       [0.30014706, 0.69985294],
       [0.73644831, 0.26355169],
       [0.39503985, 0.60496015],
       [0.75559726, 0.24440274],
       [0.75465877, 0.24534123],
       [0.7060199 , 0.2939801 ],
       [0.73169505, 0.26830495],
       [0.40902552, 0.59097448],
       [0.50634641, 0.49365359],
       [0.70742251, 0.29257749],
       [0.75270546, 0.24729454],
       [0.56268867, 0.43731133]])

In [60]:
predicted_proba.shape

(140, 2)

In [61]:
predicted_proba[:,1]

array([0.24691078, 0.39073909, 0.5140425 , 0.2447153 , 0.9160325 ,
       0.69807305, 0.69833226, 0.8848955 , 0.26224033, 0.24596824,
       0.49280785, 0.80280724, 0.93836804, 0.29082975, 0.70719453,
       0.4758953 , 0.49323071, 0.49111648, 0.632992  , 0.93644339,
       0.26355169, 0.2447153 , 0.52542844, 0.52711557, 0.77973465,
       0.26191315, 0.48815488, 0.12316421, 0.76554437, 0.2447153 ,
       0.38912926, 0.71585927, 0.70056321, 0.49365359, 0.2447153 ,
       0.59546518, 0.26256777, 0.78560289, 0.43689507, 0.60455576,
       0.24440274, 0.49889237, 0.26125957, 0.44701216, 0.80689602,
       0.60831063, 0.72248525, 0.24534123, 0.24855634, 0.24409045,
       0.50227596, 0.32586203, 0.69807305, 0.24697976, 0.82067559,
       0.39154489, 0.90719507, 0.26697852, 0.35791316, 0.35830205,
       0.70399998, 0.6991417 , 0.26797295, 0.78118404, 0.24619646,
       0.24659633, 0.09025875, 0.26289548, 0.7674276 , 0.29222745,
       0.26060705, 0.35283656, 0.88319236, 0.43606282, 0.593834  ,
       0.2447153 , 0.76584789, 0.74691753, 0.70276574, 0.63456269,
       0.26158623, 0.0876165 , 0.26996886, 0.71860418, 0.46633803,
       0.12261714, 0.69949744, 0.52711557, 0.2535535 , 0.71585927,
       0.19531952, 0.13470856, 0.24754049, 0.2472255 , 0.24596824,
       0.87112936, 0.24754049, 0.72519072, 0.24729454, 0.19691986,
       0.59464986, 0.71585927, 0.70099575, 0.70575966, 0.4364789 ,
       0.43356825, 0.24691078, 0.87112936, 0.76055738, 0.13451148,
       0.08734639, 0.91199241, 0.65294267, 0.38792348, 0.59424199,
       0.6029368 , 0.78588771, 0.84547234, 0.56321142, 0.26322345,
       0.24628215, 0.1238969 , 0.80253928, 0.49762353, 0.24596824,
       0.29152811, 0.24440274, 0.13510345, 0.69985294, 0.26355169,
       0.60496015, 0.24440274, 0.24534123, 0.2939801 , 0.26830495,
       0.59097448, 0.49365359, 0.29257749, 0.24729454, 0.43731133])

In [0]:
##Save the Model

In [0]:
import pickle

In [0]:
with open('model','wb') as file:
  pickle.dump(reg, file)

In [0]:
with open('scaler', 'wb') as file:
  pickle.dump(absenteeism_scaler, file)